.bg {
  height: 100vh;
  width: 100%;
  background: url('/assets/bg-hotel.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-link {
  color: #3864e7;       /* light teal for visibility */
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}

.signup-link:hover {
  text-decoration: underline;
  color: #00bcd4;
}

.glass-card {
  width: 360px;
  padding: 25px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 12px;
  }

  .btn {
    width: 100%;
    margin-top: 10px;
  }

  .link {
    text-align: center;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}
